.flows.json.backup
[{"id":"f1940d57.f0b49","type":"tab","label":"Data.gov","disabled":false,"info":""},{"id":"e18e9c2d.e9e37","type":"tab","label":"Single Source OData EDM","disabled":false,"info":""},{"id":"3b4485eb.966d7a","type":"tab","label":"Send SMS","disabled":false,"info":""},{"id":"49fe2f27.1eb8e","type":"tab","label":"Bootstrap","disabled":false,"info":""},{"id":"7703b40b.fb4b5c","type":"tab","label":"SOAP Service","disabled":false,"info":""},{"id":"58be5d5b.045aa4","type":"tab","label":"Camillo Properties Demo","disabled":false,"info":"This flow gets data from a SOAP API, extracts data, transform it and saves it to postgres database using sequelize node."},{"id":"cf64a1bf.d0264","type":"database","z":"","name":"ProductsDBConfig","host":"","port":"","database":"","dialect":"postgres","ssl":true},{"id":"66cf9032.8e099","type":"entity","z":"","name":"products","rules":[{"t":"Edm.Int32","v":"id"},{"t":"Edm.String","v":"name"}],"key":"id"},{"id":"bcb5c120.f2cb","type":"edm","z":"","namespace":"ignite","schema":"public","entities":"","model1":"57a7ecf4.6c6cc4","model2":"ced6cee9.b786","model3":"_ADD_","model4":"_ADD_","model5":"_ADD_","model6":"_ADD_","model7":"_ADD_","model8":"_ADD_","model9":"_ADD_","model10":"_ADD_","model11":"_ADD_","model12":"_ADD_","model13":"_ADD_","model14":"_ADD_","model15":"_ADD_","model16":"_ADD_","model17":"_ADD_","model18":"_ADD_","model19":"_ADD_","model20":"_ADD_"},{"id":"9b72dd4b.833f2","type":"edm","z":"","namespace":"ignite","schema":"public","entities":"","model1":"2462a64a.0ea6da","model2":"_ADD_","model3":"_ADD_","model4":"_ADD_","model5":"_ADD_","model6":"_ADD_","model7":"_ADD_","model8":"_ADD_","model9":"_ADD_","model10":"_ADD_","model11":"_ADD_","model12":"_ADD_","model13":"_ADD_","model14":"_ADD_","model15":"_ADD_","model16":"_ADD_","model17":"_ADD_","model18":"_ADD_","model19":"_ADD_","model20":"_ADD_"},{"id":"16de6df6.4806e2","type":"database","z":"","name":"ProductsDBConfig","host":"","port":"","database":"","dialect":"postgres","ssl":true},{"id":"293cb1f.7be714e","type":"entity","z":"","name":"products","rules":[{"t":"Edm.Int32","v":"id"},{"t":"Edm.String","v":"name"}],"key":"id"},{"id":"850be923.077fe8","type":"basic-config","z":"","name":"","username":"cgDemo$2020"},{"id":"42df9750.74e4d8","type":"database","z":"","name":"ignite-samples database","host":"127.0.0.1","port":"5432","database":"postgres","dialect":"postgres","ssl":false},{"id":"9d837e8d.7bfa5","type":"entity","z":"","name":"temp_users","rules":[{"t":"Edm.Int32","v":"id"},{"t":"Edm.String","v":"name"}],"key":"id"},{"id":"409ce8b9.9a8d28","type":"edm","z":"","namespace":"ignitesamples","schema":"","entities":"","model1":"9d837e8d.7bfa5","model2":"_ADD_","model3":"_ADD_","model4":"_ADD_","model5":"_ADD_","model6":"_ADD_","model7":"_ADD_","model8":"_ADD_","model9":"_ADD_","model10":"_ADD_","model11":"_ADD_","model12":"_ADD_","model13":"_ADD_","model14":"_ADD_","model15":"_ADD_","model16":"_ADD_","model17":"_ADD_","model18":"_ADD_","model19":"_ADD_","model20":"_ADD_"},{"id":"57a7ecf4.6c6cc4","type":"entity","z":"","name":"FuelStations","rules":[{"t":"Edm.Int32","v":"id"},{"t":"Edm.String","v":"station_name"},{"t":"Edm.String","v":"fuel_type_code"},{"t":"Edm.String","v":"street_address"},{"t":"Edm.String","v":"city"},{"t":"Edm.String","v":"state"},{"t":"Edm.String","v":"latitude"},{"t":"Edm.String","v":"latitude"}],"key":"id"},{"id":"ced6cee9.b786","type":"entity","z":"","name":"Foods","rules":[{"t":"Edm.Int32","v":"fdcId"},{"t":"Edm.String","v":"description"}],"key":"fdcId"},{"id":"837a900a.42692","type":"http request","z":"3b4485eb.966d7a","name":"Send SMS","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.twilio.com/2010-04-01/Accounts/AC2344ea9a7afe2817ab79ad6252973c46/Messages.json","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":160,"wires":[["61ef10cf.dae6e"]]},{"id":"61ef10cf.dae6e","type":"debug","z":"3b4485eb.966d7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":160,"wires":[]},{"id":"3935adb8.078292","type":"comment","z":"3b4485eb.966d7a","name":"https://api.twilio.com/2010-04-01/...","info":"curl -X POST https://api.twilio.com/2010-04-01/Accounts/AC2344ea9a7afe2817ab79ad6252973c46/Messages.json \\\n--data-urlencode \"From=+15017122661\" \\\n--data-urlencode \"Body=body\" \\\n--data-urlencode \"To=+15558675310\" \\\n-u AC2344ea9a7afe2817ab79ad6252973c46:your_auth_token","x":280,"y":240,"wires":[]},{"id":"eb554ad.d0d60b8","type":"inject","z":"3b4485eb.966d7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["d343a7c9.b34678"]]},{"id":"d343a7c9.b34678","type":"function","z":"3b4485eb.966d7a","name":"SMS Message","func":"msg.headers = {}\nmsg.headers['content-type'] = \"application/x-www-form-urlencoded\"\nmsg.payload = {From: '+17278886393', To:'+14698379800', Body:'Hi Sebastian, thanks for signing up! https://cgignite.com'}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["837a900a.42692"]]},{"id":"7fdb0344.db62cc","type":"http in","z":"49fe2f27.1eb8e","name":"","url":"/web","method":"get","upload":false,"swaggerDoc":"","x":300,"y":180,"wires":[["c21bbedd.447c4"]]},{"id":"c21bbedd.447c4","type":"template","z":"49fe2f27.1eb8e","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>My first Vue app</title>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\" />\n    <meta\n      name=\"viewport\"\n      content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"\n    />\n\n    <!-- development version, includes helpful console warnings -->\n    <script src=\"https://cdn.jsdelivr.net/npm/vue/dist/vue.js\"></script>\n    <link\n      rel=\"stylesheet\"\n      href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\"\n      integrity=\"sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z\"\n      crossorigin=\"anonymous\"\n    />\n\n    <link\n      rel=\"stylesheet\"\n      href=\"https://unpkg.com/gridjs/dist/theme/mermaid.min.css\"\n    />\n\n    <script\n      src=\"https://code.jquery.com/jquery-3.5.1.slim.min.js\"\n      integrity=\"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj\"\n      crossorigin=\"anonymous\"\n    ></script>\n    <script\n      src=\"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js\"\n      integrity=\"sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN\"\n      crossorigin=\"anonymous\"\n    ></script>\n    <script\n      src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"\n      integrity=\"sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV\"\n      crossorigin=\"anonymous\"\n    ></script>\n\n    <script src=\"https://unpkg.com/gridjs\"></script>\n  </head>\n  <body>\n      \n    <div id=\"app\" class=\"container\">\n      <h1>{{ message }}</h1>\n        <div class=\"card-columns\">\n          <div class=\"card\">\n            <img src=\"...\" class=\"card-img-top\" alt=\"...\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title that wraps to a new line</h5>\n              <p class=\"card-text\">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>\n            </div>\n          </div>\n          <div class=\"card p-3\">\n            <blockquote class=\"blockquote mb-0 card-body\">\n              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>\n              <footer class=\"blockquote-footer\">\n                <small class=\"text-muted\">\n                  Someone famous in <cite title=\"Source Title\">Source Title</cite>\n                </small>\n              </footer>\n            </blockquote>\n          </div>\n          <div class=\"card\">\n            <img src=\"...\" class=\"card-img-top\" alt=\"...\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title</h5>\n              <p class=\"card-text\">This card has supporting text below as a natural lead-in to additional content.</p>\n              <p class=\"card-text\"><small class=\"text-muted\">Last updated 3 mins ago</small></p>\n            </div>\n          </div>\n          <div class=\"card bg-primary text-white text-center p-3\">\n            <blockquote class=\"blockquote mb-0\">\n              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>\n              <footer class=\"blockquote-footer text-white\">\n                <small>\n                  Someone famous in <cite title=\"Source Title\">Source Title</cite>\n                </small>\n              </footer>\n            </blockquote>\n          </div>\n          <div class=\"card text-center\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title</h5>\n              <p class=\"card-text\">This card has a regular title and short paragraphy of text below it.</p>\n              <p class=\"card-text\"><small class=\"text-muted\">Last updated 3 mins ago</small></p>\n            </div>\n          </div>\n          <div class=\"card\">\n            <img src=\"...\" class=\"card-img-top\" alt=\"...\">\n          </div>\n          <div class=\"card p-3 text-right\">\n            <blockquote class=\"blockquote mb-0\">\n              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>\n              <footer class=\"blockquote-footer\">\n                <small class=\"text-muted\">\n                  Someone famous in <cite title=\"Source Title\">Source Title</cite>\n                </small>\n              </footer>\n            </blockquote>\n          </div>\n          <div class=\"card\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title</h5>\n              <p class=\"card-text\">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>\n              <p class=\"card-text\"><small class=\"text-muted\">Last updated 3 mins ago</small></p>\n            </div>\n          </div>\n        </div>\n      \n    </div>\n\n    <script>\n      var app = new Vue({\n        el: \"#app\",\n        data: {\n          message: \"Hello Vue & Bootstrap!\"\n        }\n      });\n    </script>\n\n  </body>\n</html>\n","output":"str","x":490,"y":180,"wires":[["c03b501d.53735"]]},{"id":"b77c5415.c1f258","type":"template","z":"49fe2f27.1eb8e","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[{\n    \"First\":\"Sebastian\",\n    \"Last\":\"Labrador\",\n    \"Handle\":\"@slabrador\"\n}]","output":"json","x":490,"y":260,"wires":[["c03b501d.53735"]]},{"id":"79ceb419.d8f9dc","type":"http in","z":"49fe2f27.1eb8e","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":300,"y":260,"wires":[["b77c5415.c1f258"]]},{"id":"c03b501d.53735","type":"http response","z":"49fe2f27.1eb8e","name":"","statusCode":"","headers":{},"x":708,"y":181,"wires":[]},{"id":"819ed271.5536a","type":"odata in","z":"e18e9c2d.e9e37","name":"Products","edm":"9b72dd4b.833f2","x":340,"y":120,"wires":[["bf2fd8fe.effc68"]]},{"id":"bf2fd8fe.effc68","type":"sequelize","z":"e18e9c2d.e9e37","name":"ProductsDb","usepayload":true,"query":"","database":"16de6df6.4806e2","output":true,"outputs":1,"x":550,"y":120,"wires":[["36d9b191.b86f9e"]]},{"id":"8cfbeef0.e0e69","type":"http in","z":"e18e9c2d.e9e37","name":"","url":"/odata/*","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["819ed271.5536a"]]},{"id":"72558483.9100fc","type":"http response","z":"e18e9c2d.e9e37","name":"","statusCode":"","headers":{},"x":950,"y":120,"wires":[]},{"id":"36d9b191.b86f9e","type":"odata out","z":"e18e9c2d.e9e37","name":"","x":760,"y":120,"wires":[["72558483.9100fc","deab893.bf74d78"]]},{"id":"deab893.bf74d78","type":"debug","z":"e18e9c2d.e9e37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":220,"wires":[]},{"id":"55696edd.5f8b1","type":"comment","z":"e18e9c2d.e9e37","name":"Salesforce calls Ignite","info":"","x":120,"y":80,"wires":[]},{"id":"248504f8.e978bc","type":"comment","z":"e18e9c2d.e9e37","name":"Products EDM","info":"","x":340,"y":80,"wires":[]},{"id":"76ca000e.d5dba","type":"comment","z":"e18e9c2d.e9e37","name":"Query the database","info":"","x":550,"y":80,"wires":[]},{"id":"23a9f2e4.aa145e","type":"comment","z":"e18e9c2d.e9e37","name":"Format the response","info":"","x":770,"y":80,"wires":[]},{"id":"3cdfbed4.3bed42","type":"comment","z":"e18e9c2d.e9e37","name":"Send data back to Salesforce","info":"","x":1000,"y":80,"wires":[]},{"id":"70502cde.dc8e84","type":"comment","z":"e18e9c2d.e9e37","name":"Debugging","info":"","x":940,"y":180,"wires":[]},{"id":"9bd82daf.135bc","type":"http request","z":"7703b40b.fb4b5c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":300,"wires":[["ede419aa.fdfb58"]]},{"id":"6cdde30f.3e514c","type":"template","z":"7703b40b.fb4b5c","name":"XML Payload","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ser=\"http://service.web.propertyware.realpage.com\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">\n    <soapenv:Header/> \n    <soapenv:Body>\n            <ser:getAllPortfolios soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n    </soapenv:Body>\n</soapenv:Envelope>","output":"str","x":290,"y":240,"wires":[["544c0947.3f2ce8"]]},{"id":"544c0947.3f2ce8","type":"function","z":"7703b40b.fb4b5c","name":"Set Headers","func":"msg.headers = {}\nmsg.headers[\"Content-Type\"] = \"application/xml\",\nmsg.headers[\"SOAPAction\"] = \"%5B%5Cr%5D%5B%5Cn%5D\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["9bd82daf.135bc"]]},{"id":"ede419aa.fdfb58","type":"xml","z":"7703b40b.fb4b5c","name":"XMLtoObject","property":"payload","attr":"","chr":"","x":530,"y":360,"wires":[["b186b7f4.94a878"]]},{"id":"a6419c40.2d5ed","type":"debug","z":"7703b40b.fb4b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":480,"wires":[]},{"id":"b186b7f4.94a878","type":"change","z":"7703b40b.fb4b5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"ns1:getAllPortfoliosResponse\"][0].getAllPortfoliosReturn[0].getAllPortfoliosReturn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["a6419c40.2d5ed","694e39db.c829d8"]]},{"id":"35507045.f9501","type":"http in","z":"7703b40b.fb4b5c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["4d622e23.ab312"]]},{"id":"694e39db.c829d8","type":"http response","z":"7703b40b.fb4b5c","name":"","statusCode":"","headers":{},"x":870,"y":420,"wires":[]},{"id":"4d622e23.ab312","type":"basic","z":"7703b40b.fb4b5c","name":"","basicconfig":"850be923.077fe8","outputs":2,"x":270,"y":140,"wires":[["6cdde30f.3e514c"],["9b5bdf5e.2d662"]]},{"id":"78dd8aba.6a40f4","type":"comment","z":"7703b40b.fb4b5c","name":"cgDemo$2020:cgDemo$2020Psw","info":"http://api.propertyware.com/pw/services/PWServices","x":340,"y":80,"wires":[]},{"id":"9b5bdf5e.2d662","type":"http response","z":"7703b40b.fb4b5c","name":"","statusCode":"403","headers":{},"x":480,"y":140,"wires":[]},{"id":"a6db1d4.ccbdee","type":"inject","z":"7703b40b.fb4b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["1fb0e11d.eddd2f"]]},{"id":"1fb0e11d.eddd2f","type":"http request","z":"7703b40b.fb4b5c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://cgDemo$2020:cgDemo$2020Psw@ignite-samples.herokuapp.com/data","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":480,"wires":[["a6419c40.2d5ed"]]},{"id":"88e09d3a.f2ad9","type":"comment","z":"7703b40b.fb4b5c","name":"INTEGRATION TEST","info":"","x":130,"y":420,"wires":[]},{"id":"213fbbab.cc7e34","type":"http request","z":"58be5d5b.045aa4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.propertyware.com/pw/services/PWServices","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":120,"wires":[["720ff159.71fb1"]]},{"id":"978211e9.2c97d","type":"inject","z":"58be5d5b.045aa4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":140,"y":120,"wires":[["16b6af41.000641"]]},{"id":"16b6af41.000641","type":"template","z":"58be5d5b.045aa4","name":"XML Payload","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ser=\"http://service.web.propertyware.realpage.com\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">\n    <soapenv:Header/> \n    <soapenv:Body>\n            <ser:getAllPortfolios soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n    </soapenv:Body>\n</soapenv:Envelope>","output":"str","x":310,"y":120,"wires":[["c8cb3494.36ca08"]]},{"id":"c8cb3494.36ca08","type":"function","z":"58be5d5b.045aa4","name":"Set Headers","func":"msg.headers = {}\nmsg.headers[\"Content-Type\"] = \"application/xml\",\nmsg.headers[\"SOAPAction\"] = \"%5B%5Cr%5D%5B%5Cn%5D\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["213fbbab.cc7e34"]]},{"id":"720ff159.71fb1","type":"xml","z":"58be5d5b.045aa4","name":"XMLtoObject","property":"payload","attr":"","chr":"","x":190,"y":220,"wires":[["43305ddf.c74be4"]]},{"id":"debac4c9.1dfe28","type":"debug","z":"58be5d5b.045aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":380,"wires":[]},{"id":"43305ddf.c74be4","type":"function","z":"58be5d5b.045aa4","name":"Transformation","func":"response = msg.payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"ns1:getAllPortfoliosResponse\"][0].getAllPortfoliosReturn[0].getAllPortfoliosReturn\n\nmsg.payload  = [];\n\nfor (var i in response){\n    portfolio = {\n    id : response[i].ID[0]._,\n    name : response[i].name[0]._,\n    abbreviation : response[i].abbreviation[0]._,\n    defaultBankAccount : response[i].defaultBankAccount[0].accountNumber[0]._,\n    defaultSecurityDepositBankAccount : response[i].defaultSecurityDepositBankAccount[0].accountNumber[0]._,\n    ownerId : response[i].owners[0].owners[0].ID[0]._,\n    active : response[i].active[0]._\n    }\n    msg.payload.push(portfolio)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["c4e60eb3.14ccd"]]},{"id":"c4e60eb3.14ccd","type":"split","z":"58be5d5b.045aa4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":380,"wires":[["e3dd4a8a.7fbbe8"]]},{"id":"620adbcc.578c14","type":"sequelize","z":"58be5d5b.045aa4","name":"Ignite-samples database","usepayload":true,"query":"","database":"42df9750.74e4d8","output":true,"outputs":1,"x":490,"y":380,"wires":[["debac4c9.1dfe28"]]},{"id":"e3dd4a8a.7fbbe8","type":"function","z":"58be5d5b.045aa4","name":"","func":"msg.payload = `INSERT INTO public.camillo_portfolios\n(id, \"name\", abbreviation, defaultbankaccount, defaultsecuritydepositbankaccount, ownerid, active)\nVALUES('${msg.payload.id}', '${msg.payload.name}', '${msg.payload.abbreviation}',\n'${msg.payload.defaultBankAccount}', '${msg.payload.defaultSecurityDepositBankAccount}',\n'${msg.payload.ownerId}', ${msg.payload.active});`\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["620adbcc.578c14"]]},{"id":"50dfddf7.8e5264","type":"comment","z":"58be5d5b.045aa4","name":"DDL Scripts for Database","info":"CREATE TABLE public.camillo_portfolios (\n\tid varchar(15) primary KEY NOT NULL,\n\tname varchar(200) NULL,\n\tabbreviation varchar(200) NULL,\n\tdefaultBankAccount varchar(200) NULL,\n\tdefaultSecurityDepositBankAccount varchar(200) NULL,\n\townerId varchar(15) NULL,\n\tactive Boolean NULL\n);\n\nselect * from camillo_portfolios cp ","x":150,"y":540,"wires":[]},{"id":"f48f2af0.654308","type":"comment","z":"58be5d5b.045aa4","name":"Initiating request","info":"","x":140,"y":80,"wires":[]},{"id":"7cc36b20.3ed634","type":"comment","z":"58be5d5b.045aa4","name":"SOAP API request settings","info":"","x":410,"y":80,"wires":[]},{"id":"eee038cd.6999f8","type":"comment","z":"58be5d5b.045aa4","name":"request to soap API","info":"","x":670,"y":80,"wires":[]},{"id":"9e6dd218.ff23f","type":"comment","z":"58be5d5b.045aa4","name":"Converting data from XML to JS object for manipulation","info":"","x":240,"y":260,"wires":[]},{"id":"6046f022.35fe3","type":"comment","z":"58be5d5b.045aa4","name":"Data Transformation for database compatibility","info":"","x":610,"y":200,"wires":[]},{"id":"ca436469.062f48","type":"comment","z":"58be5d5b.045aa4","name":"Generating Query for each portfolio","info":"","x":200,"y":420,"wires":[]},{"id":"927b2871.6b56e8","type":"comment","z":"58be5d5b.045aa4","name":"Executing queries using sequelize","info":"","x":500,"y":340,"wires":[]},{"id":"f5cedd5b.f7ac1","type":"comment","z":"58be5d5b.045aa4","name":"logging output on completion","info":"logging output","x":720,"y":420,"wires":[]},{"id":"7d16fa35.c962f4","type":"comment","z":"58be5d5b.045aa4","name":"Databse connection string","info":"postgres://rgdwsbkizmqcwg:181aba38c7807ff12dd5e5a26bec6882bb0307eddb592c2dd20dc8a277ed21e4@ec2-52-202-66-191.compute-1.amazonaws.com:5432/d7lvpdmutrnt0p","x":150,"y":580,"wires":[]},{"id":"4ddb9d86.8d3434","type":"comment","z":"f1940d57.f0b49","name":"API_KEY =","info":"KP4TtQCRUztbU7wLNqeeOLtadIVvTZWMjqdfKslb","x":80,"y":120,"wires":[]},{"id":"69f4d125.a94b2","type":"debug","z":"f1940d57.f0b49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":40,"wires":[]},{"id":"d38abfc1.f1b8a","type":"catch","z":"f1940d57.f0b49","name":"","scope":null,"uncaught":false,"x":940,"y":40,"wires":[["69f4d125.a94b2"]]},{"id":"71e12197.cc43d","type":"http request","z":"f1940d57.f0b49","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://developer.nrel.gov/api/alt-fuel-stations/v1.json?limit=200&api_key=KP4TtQCRUztbU7wLNqeeOLtadIVvTZWMjqdfKslb","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":240,"wires":[["1d5e1bc1.a91064"]]},{"id":"6f69c67c.8593c8","type":"http in","z":"f1940d57.f0b49","name":"","url":"/fuelLocations","method":"get","upload":false,"swaggerDoc":"","x":109,"y":242,"wires":[["71e12197.cc43d"]]},{"id":"a9459b41.0a20b8","type":"http response","z":"f1940d57.f0b49","name":"","statusCode":"","headers":{},"x":850,"y":240,"wires":[]},{"id":"b31016c7.583ed8","type":"http in","z":"f1940d57.f0b49","name":"","url":"/foodDataSpec.json","method":"get","upload":false,"swaggerDoc":"","x":990,"y":140,"wires":[["9a91e644.692a58"]]},{"id":"dc95ced4.bea02","type":"http response","z":"f1940d57.f0b49","name":"","statusCode":"","headers":{},"x":1390,"y":140,"wires":[]},{"id":"9a91e644.692a58","type":"template","z":"f1940d57.f0b49","name":"FoodDataSpec","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n  \"openapi\": \"3.0.0\",\n  \"info\": {\n    \"description\": \"The FoodData Central API provides REST access to FoodData Central (FDC). It is intended primarily to assist application developers wishing to incorporate nutrient data into their applications or websites.\\n  To take full advantage of the API, developers should familiarize themselves with the database by reading the database documentation available via links on [Data Type Documentation](https://fdc.nal.usda.gov/data-documentation.html). This documentation provides the detailed definitions and descriptions needed to understand the data elements referenced in the API documentation.\\n  \\n  Additional details about the API including rate limits, access, and licensing are available on the [FDC website](https://fdc.nal.usda.gov/api-guide.html)\",\n    \"version\": \"1.0.0\",\n    \"title\": \"Food Data Central API\",\n    \"contact\": {\n      \"name\": \"Food Data Central Contact Form\",\n      \"url\": \"https://nal.altarama.com/reft100.aspx?key=FoodData\"\n    },\n    \"license\": {\n      \"name\": \"Creative Commons 0 1.0 Universal\",\n      \"url\": \"https://creativecommons.org\"\n    }\n  },\n  \"servers\": [\n    {\n      \"url\": \"https://api.nal.usda.gov/fdc\"\n    }\n  ],\n  \"security\": [\n    {\n      \"ApiKeyAuth\": []\n    }\n  ],\n  \"tags\": [\n    {\n      \"name\": \"FDC\",\n      \"description\": \"endpoints to retrieve nutrient data\"\n    }\n  ],\n  \"paths\": {\n    \"/v1/food/{fdcId}\": {\n      \"get\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"security\": [\n          {\n            \"ApiKeyAuth\": []\n          }\n        ],\n        \"summary\": \"Fetches details for one food item by FDC ID\",\n        \"description\": \"Retrieves a single food item by an FDC ID. Optional format and nutrients can be specified.\",\n        \"operationId\": \"getFood\",\n        \"parameters\": [\n          {\n            \"in\": \"path\",\n            \"name\": \"fdcId\",\n            \"description\": \"FDC id of the food to retrieve\",\n            \"required\": true,\n            \"schema\": {\n              \"type\": \"string\"\n            }\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"format\",\n            \"description\": \"Optional. 'abridged' for an abridged set of elements, 'full' for all elements (default).\",\n            \"required\": false,\n            \"schema\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"abridged\",\n                \"full\"\n              ]\n            }\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"nutrients\",\n            \"description\": \"Optional. List of up to 25 nutrient numbers. Only the nutrient information for the specified nutrients will be returned. Should be comma separated list (e.g. nutrients=203,204) or repeating parameters (e.g. nutrients=203&nutrients=204). If a food does not have any matching nutrients, the food will be returned with an empty foodNutrients element.\",\n            \"schema\": {\n              \"type\": \"array\",\n              \"minItems\": 1,\n              \"maxItems\": 25,\n              \"items\": {\n                \"type\": \"integer\"\n              },\n              \"example\": [\n                203,\n                204,\n                205\n              ]\n            }\n          }\n        ],\n        \"responses\": {\n          \"200\": {\n            \"description\": \"One food result.\",\n            \"content\": {\n              \"application/json\": {\n                \"schema\": {\n                  \"oneOf\": [\n                    {\n                      \"$ref\": \"#/components/schemas/AbridgedFoodItem\"\n                    },\n                    {\n                      \"$ref\": \"#/components/schemas/BrandedFoodItem\"\n                    },\n                    {\n                      \"$ref\": \"#/components/schemas/FoundationFoodItem\"\n                    },\n                    {\n                      \"$ref\": \"#/components/schemas/SRLegacyFoodItem\"\n                    },\n                    {\n                      \"$ref\": \"#/components/schemas/SurveyFoodItem\"\n                    }\n                  ]\n                }\n              }\n            }\n          },\n          \"400\": {\n            \"description\": \"bad input parameter\"\n          },\n          \"404\": {\n            \"description\": \"no results found\"\n          }\n        }\n      }\n    },\n    \"/v1/foods\": {\n      \"get\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Fetches details for multiple food items using input FDC IDs\",\n        \"description\": \"Retrieves a list of food items by a list of up to 20 FDC IDs. Optional format and nutrients can be specified. Invalid FDC ID's or ones that are not found are omitted and an empty set is returned if there are no matches.\",\n        \"operationId\": \"getFoods\",\n        \"parameters\": [\n          {\n            \"in\": \"query\",\n            \"name\": \"fdcIds\",\n            \"required\": true,\n            \"description\": \"List of multiple FDC ID's. Should be comma separated list (e.g. fdcIds=534358,373052) or repeating parameters (e.g. fdcIds=534358&fdcIds=373052).\",\n            \"schema\": {\n              \"type\": \"array\",\n              \"minItems\": 1,\n              \"maxItems\": 20,\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"example\": [\n                534358,\n                373052,\n                616350\n              ]\n            }\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"format\",\n            \"description\": \"Optional. 'abridged' for an abridged set of elements, 'full' for all elements (default).\",\n            \"required\": false,\n            \"schema\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"abridged\",\n                \"full\"\n              ]\n            }\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"nutrients\",\n            \"description\": \"Optional. List of up to 25 nutrient numbers. Only the nutrient information for the specified nutrients will be returned. Should be comma separated list (e.g. nutrients=203,204) or repeating parameters (e.g. nutrients=203&nutrients=204). If a food does not have any matching nutrients, the food will be returned with an empty foodNutrients element.\",\n            \"schema\": {\n              \"type\": \"array\",\n              \"minItems\": 1,\n              \"maxItems\": 25,\n              \"items\": {\n                \"type\": \"integer\"\n              },\n              \"example\": [\n                203,\n                204,\n                205\n              ]\n            }\n          }\n        ],\n        \"responses\": {\n          \"200\": {\n            \"description\": \"List of Food details matching specified FDC ID's. Invalid FDC ID's or ones that are not found are omitted.\",\n            \"content\": {\n              \"application/json\": {\n                \"schema\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"anyOf\": [\n                      {\n                        \"$ref\": \"#/components/schemas/AbridgedFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/BrandedFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/FoundationFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/SRLegacyFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/SurveyFoodItem\"\n                      }\n                    ]\n                  }\n                }\n              }\n            }\n          },\n          \"400\": {\n            \"description\": \"bad input parameter\"\n          }\n        }\n      },\n      \"post\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Fetches details for multiple food items using input FDC IDs\",\n        \"description\": \"Retrieves a list of food items by a list of up to 20 FDC IDs. Optional format and nutrients can be specified. Invalid FDC ID's or ones that are not found are omitted and an empty set is returned if there are no matches.\",\n        \"operationId\": \"postFoods\",\n        \"requestBody\": {\n          \"required\": true,\n          \"content\": {\n            \"application/json\": {\n              \"schema\": {\n                \"$ref\": \"#/components/schemas/FoodsCriteria\"\n              }\n            }\n          }\n        },\n        \"responses\": {\n          \"200\": {\n            \"description\": \"List of Food details matching specified FDC ID's. Invalid FDC ID's or ones that are not found are omitted.\",\n            \"content\": {\n              \"application/json\": {\n                \"schema\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"anyOf\": [\n                      {\n                        \"$ref\": \"#/components/schemas/AbridgedFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/BrandedFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/FoundationFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/SRLegacyFoodItem\"\n                      },\n                      {\n                        \"$ref\": \"#/components/schemas/SurveyFoodItem\"\n                      }\n                    ]\n                  }\n                }\n              }\n            }\n          },\n          \"400\": {\n            \"description\": \"bad input parameter\"\n          }\n        }\n      }\n    },\n    \"/v1/foods/list\": {\n      \"get\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Returns a paged list of foods, in the 'abridged' format\",\n        \"description\": \"Retrieves a paged list of foods. Use the pageNumber parameter to page through the entire result set.\",\n        \"operationId\": \"getFoodsList\",\n        \"parameters\": [\n          {\n            \"in\": \"query\",\n            \"name\": \"dataType\",\n            \"description\": \"Optional. Filter on a specific data type; specify one or more values in an array.\",\n            \"schema\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\",\n                \"enum\": [\n                  \"Branded\",\n                  \"Foundation\",\n                  \"Survey (FNDDS)\",\n                  \"SR Legacy\"\n                ]\n              },\n              \"minItems\": 1,\n              \"maxItems\": 4\n            },\n            \"explode\": false,\n            \"style\": \"form\",\n            \"example\": [\n              \"Foundation\",\n              \"SR Legacy\"\n            ]\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"pageSize\",\n            \"description\": \"Optional. Maximum number of results to return for the current page. Default is 50.\",\n            \"schema\": {\n              \"type\": \"integer\",\n              \"minimum\": 1,\n              \"maximum\": 200\n            },\n            \"example\": 25\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"pageNumber\",\n            \"description\": \"Optional. Page number to retrieve. The offset into the overall result set is expressed as (pageNumber * pageSize)\",\n            \"schema\": {\n              \"type\": \"integer\",\n              \"example\": 2\n            }\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"sortBy\",\n            \"description\": \"Optional. Specify one of the possible values to sort by that field. Note, dataType.keyword will be dataType and lowercaseDescription.keyword will be description in future releases.\",\n            \"schema\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"dataType.keyword\",\n                \"lowercaseDescription.keyword\",\n                \"fdcId\",\n                \"publishedDate\"\n              ]\n            }\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"sortOrder\",\n            \"description\": \"Optional. The sort direction for the results. Only applicable if sortBy is specified.\",\n            \"schema\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"asc\",\n                \"desc\"\n              ]\n            }\n          }\n        ],\n        \"responses\": {\n          \"200\": {\n            \"description\": \"List of foods for the requested page\",\n            \"content\": {\n              \"application/json\": {\n                \"schema\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"$ref\": \"#/components/schemas/AbridgedFoodItem\"\n                  }\n                }\n              }\n            }\n          },\n          \"400\": {\n            \"description\": \"bad input parameter\"\n          }\n        }\n      },\n      \"post\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Returns a paged list of foods, in the 'abridged' format\",\n        \"description\": \"Retrieves a paged list of foods. Use the pageNumber parameter to page through the entire result set.\",\n        \"operationId\": \"postFoodsList\",\n        \"requestBody\": {\n          \"required\": true,\n          \"content\": {\n            \"application/json\": {\n              \"schema\": {\n                \"$ref\": \"#/components/schemas/FoodListCriteria\"\n              }\n            }\n          }\n        },\n        \"responses\": {\n          \"200\": {\n            \"description\": \"List of foods for the requested page\",\n            \"content\": {\n              \"application/json\": {\n                \"schema\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"$ref\": \"#/components/schemas/AbridgedFoodItem\"\n                  }\n                }\n              }\n            }\n          },\n          \"400\": {\n            \"description\": \"bad input parameter\"\n          }\n        }\n      }\n    },\n    \"/v1/foods/search\": {\n      \"get\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Returns a list of foods that matched search (query) keywords\",\n        \"description\": \"Search for foods using keywords. Results can be filtered by dataType and there are options for result page sizes or sorting.\",\n        \"operationId\": \"getFoodsSearch\",\n        \"parameters\": [\n          {\n            \"in\": \"query\",\n            \"name\": \"query\",\n            \"description\": \"One or more search terms.  The string may include [search operators](https://fdc.nal.usda.gov/help.html#bkmk-2)\",\n            \"required\": true,\n            \"schema\": {\n              \"type\": \"string\"\n            },\n            \"example\": \"cheddar cheese\"\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"dataType\",\n            \"description\": \"Optional. Filter on a specific data type; specify one or more values in an array.\",\n            \"schema\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\",\n                \"enum\": [\n                  \"Branded\",\n                  \"Foundation\",\n                  \"Survey (FNDDS)\",\n                  \"SR Legacy\"\n                ]\n              },\n              \"minItems\": 1,\n              \"maxItems\": 4\n            },\n            \"explode\": false,\n            \"style\": \"form\",\n            \"example\": [\n              \"Foundation\",\n              \"SR Legacy\"\n            ]\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"pageSize\",\n            \"description\": \"Optional. Maximum number of results to return for the current page. Default is 50.\",\n            \"schema\": {\n              \"type\": \"integer\",\n              \"minimum\": 1,\n              \"maximum\": 200\n            },\n            \"example\": 25\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"pageNumber\",\n            \"description\": \"Optional. Page number to retrieve. The offset into the overall result set is expressed as (pageNumber * pageSize)\",\n            \"schema\": {\n              \"type\": \"integer\",\n              \"example\": 2\n            }\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"sortBy\",\n            \"description\": \"Optional. Specify one of the possible values to sort by that field. Note, dataType.keyword will be dataType and lowercaseDescription.keyword will be description in future releases.\",\n            \"schema\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"dataType.keyword\",\n                \"lowercaseDescription.keyword\",\n                \"fdcId\",\n                \"publishedDate\"\n              ]\n            },\n            \"example\": \"description\"\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"sortOrder\",\n            \"description\": \"Optional. The sort direction for the results. Only applicable if sortBy is specified.\",\n            \"schema\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"asc\",\n                \"desc\"\n              ]\n            },\n            \"example\": \"asc\"\n          },\n          {\n            \"in\": \"query\",\n            \"name\": \"brandOwner\",\n            \"description\": \"Optional. Filter results based on the brand owner of the food. Only applies to Branded Foods\",\n            \"schema\": {\n              \"type\": \"string\"\n            },\n            \"example\": \"Kar Nut Products Company\"\n          }\n        ],\n        \"responses\": {\n          \"200\": {\n            \"description\": \"List of foods that matched search terms\",\n            \"content\": {\n              \"application/json\": {\n                \"schema\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"$ref\": \"#/components/schemas/SearchResult\"\n                  }\n                }\n              }\n            }\n          },\n          \"400\": {\n            \"description\": \"bad input parameter\"\n          }\n        }\n      },\n      \"post\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Returns a list of foods that matched search (query) keywords\",\n        \"description\": \"Search for foods using keywords. Results can be filtered by dataType and there are options for result page sizes or sorting.\",\n        \"operationId\": \"postFoodsSearch\",\n        \"requestBody\": {\n          \"required\": true,\n          \"description\": \"The query string may also include standard [search operators](https://fdc.nal.usda.gov/help.html#bkmk-2)\",\n          \"content\": {\n            \"application/json\": {\n              \"schema\": {\n                \"$ref\": \"#/components/schemas/FoodSearchCriteria\"\n              }\n            }\n          }\n        },\n        \"responses\": {\n          \"200\": {\n            \"description\": \"List of foods that matched search terms\",\n            \"content\": {\n              \"application/json\": {\n                \"schema\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"$ref\": \"#/components/schemas/SearchResult\"\n                  }\n                }\n              }\n            }\n          },\n          \"400\": {\n            \"description\": \"bad input parameter\"\n          }\n        }\n      }\n    },\n    \"/v1/json-spec\": {\n      \"get\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Returns this documentation in JSON format\",\n        \"description\": \"The OpenAPI 3.0 specification for the FDC API rendered as JSON (JavaScript Object Notation)\",\n        \"operationId\": \"getJsonSpec\",\n        \"responses\": {\n          \"default\": {\n            \"description\": \"JSON rendering of OpenAPI 3.0 specification\"\n          }\n        }\n      }\n    },\n    \"/v1/yaml-spec\": {\n      \"get\": {\n        \"tags\": [\n          \"FDC\"\n        ],\n        \"summary\": \"Returns this documentation in JSON format\",\n        \"description\": \"The OpenAPI 3.0 specification for the FDC API rendered as YAML (YAML Ain't Markup Language)\",\n        \"operationId\": \"getYamlSpec\",\n        \"responses\": {\n          \"default\": {\n            \"description\": \"YAML rendering of OpenAPI 3.0 specification\"\n          }\n        }\n      }\n    }\n  },\n  \"components\": {\n    \"securitySchemes\": {\n      \"ApiKeyAuth\": {\n        \"type\": \"apiKey\",\n        \"in\": \"query\",\n        \"name\": \"api_key\"\n      }\n    },\n    \"schemas\": {\n      \"AbridgedFoodItem\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"fdcId\",\n          \"dataType\",\n          \"description\"\n        ],\n        \"properties\": {\n          \"dataType\": {\n            \"type\": \"string\",\n            \"example\": \"Branded\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"NUT 'N BERRY MIX\"\n          },\n          \"fdcId\": {\n            \"type\": \"integer\",\n            \"example\": 534358\n          },\n          \"foodNutrients\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/AbridgedFoodNutrient\"\n            }\n          },\n          \"publicationDate\": {\n            \"type\": \"string\",\n            \"example\": \"4/1/2019\"\n          },\n          \"brandOwner\": {\n            \"type\": \"string\",\n            \"description\": \"only applies to Branded Foods\",\n            \"example\": \"Kar Nut Products Company\"\n          },\n          \"gtinUpc\": {\n            \"type\": \"string\",\n            \"description\": \"only applies to Branded Foods\",\n            \"example\": \"077034085228\"\n          },\n          \"ndbNumber\": {\n            \"type\": \"string\",\n            \"description\": \"only applies to Foundation and SRLegacy Foods\",\n            \"example\": \"7954\"\n          },\n          \"foodCode\": {\n            \"type\": \"string\",\n            \"description\": \"only applies to Survey Foods\",\n            \"example\": \"27415110\"\n          }\n        }\n      },\n      \"BrandedFoodItem\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"fdcId\",\n          \"dataType\",\n          \"description\"\n        ],\n        \"properties\": {\n          \"fdcId\": {\n            \"type\": \"integer\",\n            \"example\": 534358\n          },\n          \"availableDate\": {\n            \"type\": \"string\",\n            \"example\": \"8/18/2018\"\n          },\n          \"brandOwner\": {\n            \"type\": \"string\",\n            \"example\": \"Kar Nut Products Company\"\n          },\n          \"dataSource\": {\n            \"type\": \"string\",\n            \"example\": \"LI\"\n          },\n          \"dataType\": {\n            \"type\": \"string\",\n            \"example\": \"Branded\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"NUT 'N BERRY MIX\"\n          },\n          \"foodClass\": {\n            \"type\": \"string\",\n            \"example\": \"Branded\"\n          },\n          \"gtinUpc\": {\n            \"type\": \"string\",\n            \"example\": \"077034085228\"\n          },\n          \"householdServingFullText\": {\n            \"type\": \"string\",\n            \"example\": \"1 ONZ\"\n          },\n          \"ingredients\": {\n            \"type\": \"string\",\n            \"example\": \"PEANUTS (PEANUTS, PEANUT AND/OR SUNFLOWER OIL). RAISINS. DRIED CRANBERRIES (CRANBERRIES, SUGAR, SUNFLOWER OIL). SUNFLOWER KERNELS AND ALMONDS (SUNFLOWER KERNELS AND ALMONDS, PEANUT AND/OR SUNFLOWER OIL).\"\n          },\n          \"modifiedDate\": {\n            \"type\": \"string\",\n            \"example\": \"8/18/2018\"\n          },\n          \"publicationDate\": {\n            \"type\": \"string\",\n            \"example\": \"4/1/2019\"\n          },\n          \"servingSize\": {\n            \"type\": \"integer\",\n            \"format\": \"float32\",\n            \"example\": 28\n          },\n          \"servingSizeUnit\": {\n            \"type\": \"string\",\n            \"example\": \"g\"\n          },\n          \"brandedFoodCategory\": {\n            \"type\": \"string\",\n            \"example\": \"Popcorn, Peanuts, Seeds & Related Snacks\"\n          },\n          \"foodNutrients\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodNutrient\"\n            }\n          },\n          \"foodUpdateLog\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodUpdateLog\"\n            }\n          },\n          \"labelNutrients\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"fat\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 8.9992\n                  }\n                }\n              },\n              \"saturatedFat\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 0.9996\n                  }\n                }\n              },\n              \"transFat\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 0\n                  }\n                }\n              },\n              \"cholesterol\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 0\n                  }\n                }\n              },\n              \"sodium\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 0\n                  }\n                }\n              },\n              \"carbohydrates\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 12.0008\n                  }\n                }\n              },\n              \"fiber\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 1.988\n                  }\n                }\n              },\n              \"sugars\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 7.9996\n                  }\n                }\n              },\n              \"protein\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 4.0012\n                  }\n                }\n              },\n              \"calcium\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 19.88\n                  }\n                }\n              },\n              \"iron\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 0.7196\n                  }\n                }\n              },\n              \"postassium\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 159.88\n                  }\n                }\n              },\n              \"calories\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"value\": {\n                    \"type\": \"number\",\n                    \"format\": \"float\",\n                    \"example\": 140\n                  }\n                }\n              }\n            }\n          }\n        }\n      },\n      \"FoundationFoodItem\": {\n        \"required\": [\n          \"fdcId\",\n          \"dataType\",\n          \"description\"\n        ],\n        \"properties\": {\n          \"fdcId\": {\n            \"type\": \"integer\",\n            \"example\": 747448\n          },\n          \"dataType\": {\n            \"type\": \"string\",\n            \"example\": \"Foundation\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"Strawberries, raw\"\n          },\n          \"foodClass\": {\n            \"type\": \"string\",\n            \"example\": \"FinalFood\"\n          },\n          \"footNote\": {\n            \"type\": \"string\",\n            \"example\": \"Source number reflects the actual number of samples analyzed for a nutrient. Repeat nutrient analyses may have been done on the same sample with the values shown.\"\n          },\n          \"isHistoricalReference\": {\n            \"type\": \"boolean\",\n            \"example\": false\n          },\n          \"ndbNumber\": {\n            \"type\": \"string\",\n            \"example\": \"9316\"\n          },\n          \"publicationDate\": {\n            \"type\": \"string\",\n            \"example\": \"12/16/2019\"\n          },\n          \"scientificName\": {\n            \"type\": \"string\",\n            \"example\": \"Fragaria X ananassa\"\n          },\n          \"foodCategory\": {\n            \"$ref\": \"#/components/schemas/FoodCategory\"\n          },\n          \"foodComponents\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodComponent\"\n            }\n          },\n          \"foodNutrients\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodNutrient\"\n            }\n          },\n          \"foodPortions\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodPortion\"\n            }\n          },\n          \"inputFoods\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/InputFoodFoundation\"\n            }\n          },\n          \"nutrientConversionFactors\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/NutrientConversionFactors\"\n            }\n          }\n        }\n      },\n      \"SRLegacyFoodItem\": {\n        \"required\": [\n          \"fdcId\",\n          \"dataType\",\n          \"description\"\n        ],\n        \"properties\": {\n          \"fdcId\": {\n            \"type\": \"integer\",\n            \"example\": 170379\n          },\n          \"dataType\": {\n            \"type\": \"string\",\n            \"example\": \"SR Legacy\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"Broccoli, raw\"\n          },\n          \"foodClass\": {\n            \"type\": \"string\",\n            \"example\": \"FinalFood\"\n          },\n          \"isHistoricalReference\": {\n            \"type\": \"boolean\",\n            \"example\": true\n          },\n          \"ndbNumber\": {\n            \"type\": \"string\",\n            \"example\": \"11090\"\n          },\n          \"publicationDate\": {\n            \"type\": \"string\",\n            \"example\": \"4/1/2019\"\n          },\n          \"scientificName\": {\n            \"type\": \"string\",\n            \"example\": \"Brassica oleracea var. italica\"\n          },\n          \"foodCategory\": {\n            \"$ref\": \"#/components/schemas/FoodCategory\"\n          },\n          \"foodNutrients\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodNutrient\"\n            }\n          },\n          \"nutrientConversionFactors\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/NutrientConversionFactors\"\n            }\n          }\n        }\n      },\n      \"SurveyFoodItem\": {\n        \"required\": [\n          \"fdcId\",\n          \"dataType\",\n          \"description\"\n        ],\n        \"properties\": {\n          \"fdcId\": {\n            \"type\": \"integer\",\n            \"example\": 337985\n          },\n          \"datatype\": {\n            \"type\": \"string\",\n            \"example\": \"Survey (FNDDS)\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"Beef curry\"\n          },\n          \"endDate\": {\n            \"type\": \"string\",\n            \"example\": \"12/31/2014\"\n          },\n          \"foodClass\": {\n            \"type\": \"string\",\n            \"example\": \"Survey\"\n          },\n          \"foodCode\": {\n            \"type\": \"string\",\n            \"example\": \"27116100\"\n          },\n          \"publicationDate\": {\n            \"type\": \"string\",\n            \"example\": \"4/1/2019\"\n          },\n          \"startDate\": {\n            \"type\": \"string\",\n            \"example\": \"1/1/2013\"\n          },\n          \"foodAttributes\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodAttribute\"\n            }\n          },\n          \"foodPortions\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodPortion\"\n            }\n          },\n          \"inputFoods\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/InputFoodSurvey\"\n            }\n          },\n          \"wweiaFoodCategory\": {\n            \"$ref\": \"#/components/schemas/WweiaFoodCategory\"\n          }\n        }\n      },\n      \"SampleFoodItem\": {\n        \"required\": [\n          \"fdcId\",\n          \"dataType\",\n          \"description\"\n        ],\n        \"properties\": {\n          \"fdcId\": {\n            \"type\": \"integer\",\n            \"example\": 45551\n          },\n          \"datatype\": {\n            \"type\": \"string\",\n            \"example\": \"Sample\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"Beef, Tenderloin Roast, select, roasted, comp5, lean (34BLTR)\"\n          },\n          \"foodClass\": {\n            \"type\": \"string\",\n            \"example\": \"Composite\"\n          },\n          \"publicationDate\": {\n            \"type\": \"string\",\n            \"example\": \"4/1/2019\"\n          },\n          \"foodAttributes\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodCategory\"\n            }\n          }\n        }\n      },\n      \"AbridgedFoodNutrient\": {\n        \"required\": [\n          \"id\",\n          \"nutrientNumber\",\n          \"unit\"\n        ],\n        \"properties\": {\n          \"number\": {\n            \"type\": \"integer\",\n            \"format\": \"uint\",\n            \"example\": 303\n          },\n          \"name\": {\n            \"type\": \"string\",\n            \"example\": \"Iron, Fe\"\n          },\n          \"amount\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 0.53\n          },\n          \"unitName\": {\n            \"type\": \"string\",\n            \"example\": \"mg\"\n          },\n          \"derivationCode\": {\n            \"type\": \"string\",\n            \"example\": \"LCCD\"\n          },\n          \"derivationDescription\": {\n            \"type\": \"string\",\n            \"example\": \"Calculated from a daily value percentage per serving size measure\"\n          }\n        }\n      },\n      \"FoodNutrient\": {\n        \"required\": [\n          \"id\",\n          \"nutrientNumber\",\n          \"unit\"\n        ],\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"uint\",\n            \"example\": 167514\n          },\n          \"amount\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 0\n          },\n          \"dataPoints\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 49\n          },\n          \"min\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 73.73\n          },\n          \"max\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 91.8\n          },\n          \"median\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 90.3\n          },\n          \"type\": {\n            \"type\": \"string\",\n            \"example\": \"FoodNutrient\"\n          },\n          \"nutrient\": {\n            \"$ref\": \"#/components/schemas/Nutrient\"\n          },\n          \"foodNutrientDerivation\": {\n            \"$ref\": \"#/components/schemas/FoodNutrientDerivation\"\n          },\n          \"nutrientAnalysisDetails\": {\n            \"$ref\": \"#/components/schemas/NutrientAnalysisDetails\"\n          }\n        }\n      },\n      \"Nutrient\": {\n        \"description\": \"a food nutrient\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"uint\",\n            \"example\": 1005\n          },\n          \"number\": {\n            \"type\": \"string\",\n            \"example\": \"305\"\n          },\n          \"name\": {\n            \"type\": \"string\",\n            \"example\": \"Carbohydrate, by difference\"\n          },\n          \"rank\": {\n            \"type\": \"integer\",\n            \"format\": \"uint\",\n            \"example\": 1110\n          },\n          \"unitName\": {\n            \"type\": \"string\",\n            \"example\": \"g\"\n          }\n        }\n      },\n      \"FoodNutrientDerivation\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 75\n          },\n          \"code\": {\n            \"type\": \"string\",\n            \"example\": \"LCCD\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"Calculated from a daily value percentage per serving size measure\"\n          },\n          \"foodNutrientSource\": {\n            \"$ref\": \"#/components/schemas/FoodNutrientSource\"\n          }\n        }\n      },\n      \"FoodNutrientSource\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 9\n          },\n          \"code\": {\n            \"type\": \"string\",\n            \"example\": \"12\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"Manufacturer's analytical; partial documentation\"\n          }\n        }\n      },\n      \"NutrientAnalysisDetails\": {\n        \"properties\": {\n          \"subSampleId\": {\n            \"type\": \"integer\",\n            \"example\": 343866\n          },\n          \"amount\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 0\n          },\n          \"nutrientId\": {\n            \"type\": \"integer\",\n            \"example\": 1005\n          },\n          \"labMethodDescription\": {\n            \"type\": \"string\",\n            \"example\": \"10.2135/cropsci2017.04.0244\"\n          },\n          \"labMethodOriginalDescription\": {\n            \"type\": \"string\"\n          },\n          \"labMethodLink\": {\n            \"type\": \"string\",\n            \"format\": \"url\",\n            \"example\": \"https://doi.org/10.2135/cropsci2017.04.0244\"\n          },\n          \"labMethodTechnique\": {\n            \"type\": \"string\",\n            \"example\": \"DOI for Beans\"\n          },\n          \"nutrientAcquisitionDetails\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/NutrientAcquisitionDetails\"\n            }\n          }\n        }\n      },\n      \"NutrientAcquisitionDetails\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"sampleUnitId\": {\n            \"type\": \"integer\",\n            \"example\": 321632\n          },\n          \"purchaseDate\": {\n            \"type\": \"string\",\n            \"example\": \"12/2/2005\"\n          },\n          \"storeCity\": {\n            \"type\": \"string\",\n            \"example\": \"TRUSSVILLE\"\n          },\n          \"storeState\": {\n            \"type\": \"string\",\n            \"example\": \"AL\"\n          }\n        }\n      },\n      \"NutrientConversionFactors\": {\n        \"properties\": {\n          \"type\": {\n            \"type\": \"string\",\n            \"example\": \".ProteinConversionFactor\"\n          },\n          \"value\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 6.25\n          }\n        }\n      },\n      \"FoodUpdateLog\": {\n        \"properties\": {\n          \"fdcId\": {\n            \"type\": \"integer\",\n            \"example\": 534358\n          },\n          \"availableDate\": {\n            \"type\": \"string\",\n            \"example\": \"8/18/2018\"\n          },\n          \"brandOwner\": {\n            \"type\": \"string\",\n            \"example\": \"Kar Nut Products Company\"\n          },\n          \"dataSource\": {\n            \"type\": \"string\",\n            \"example\": \"LI\"\n          },\n          \"dataType\": {\n            \"type\": \"string\",\n            \"example\": \"Branded\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"NUT 'N BERRY MIX\"\n          },\n          \"foodClass\": {\n            \"type\": \"string\",\n            \"example\": \"Branded\"\n          },\n          \"gtinUpc\": {\n            \"type\": \"string\",\n            \"example\": \"077034085228\"\n          },\n          \"householdServingFullText\": {\n            \"type\": \"string\",\n            \"example\": \"1 ONZ\"\n          },\n          \"ingredients\": {\n            \"type\": \"string\",\n            \"example\": \"PEANUTS (PEANUTS, PEANUT AND/OR SUNFLOWER OIL). RAISINS. DRIED CRANBERRIES (CRANBERRIES, SUGAR, SUNFLOWER OIL). SUNFLOWER KERNELS AND ALMONDS (SUNFLOWER KERNELS AND ALMONDS, PEANUT AND/OR SUNFLOWER OIL).\"\n          },\n          \"modifiedDate\": {\n            \"type\": \"string\",\n            \"example\": \"8/18/2018\"\n          },\n          \"publicationDate\": {\n            \"type\": \"string\",\n            \"example\": \"4/1/2019\"\n          },\n          \"servingSize\": {\n            \"type\": \"integer\",\n            \"format\": \"float32\",\n            \"example\": 28\n          },\n          \"servingSizeUnit\": {\n            \"type\": \"string\",\n            \"example\": \"g\"\n          },\n          \"brandedFoodCategory\": {\n            \"type\": \"string\",\n            \"example\": \"Popcorn, Peanuts, Seeds & Related Snacks\"\n          },\n          \"changes\": {\n            \"type\": \"string\",\n            \"example\": \"Nutrient Added, Nutrient Updated\"\n          },\n          \"foodAttributes\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodAttribute\"\n            }\n          }\n        }\n      },\n      \"FoodAttribute\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"example\": 25117\n          },\n          \"sequenceNumber\": {\n            \"type\": \"integer\",\n            \"example\": 1\n          },\n          \"value\": {\n            \"type\": \"string\",\n            \"example\": \"Moisture change: -5.0%\"\n          },\n          \"FoodAttributeType\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"id\": {\n                \"type\": \"integer\",\n                \"example\": 1002\n              },\n              \"name\": {\n                \"type\": \"string\",\n                \"example\": \"Adjustments\"\n              },\n              \"description\": {\n                \"type\": \"string\",\n                \"example\": \"Adjustments made to foods, including moisture and fat changes.\"\n              }\n            }\n          }\n        }\n      },\n      \"FoodCategory\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 11\n          },\n          \"code\": {\n            \"type\": \"string\",\n            \"example\": \"1100\"\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"Vegetables and Vegetable Products\"\n          }\n        }\n      },\n      \"FoodComponent\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 59929\n          },\n          \"name\": {\n            \"type\": \"string\",\n            \"example\": \"External fat\"\n          },\n          \"dataPoints\": {\n            \"type\": \"integer\",\n            \"example\": 24\n          },\n          \"gramWeight\": {\n            \"type\": \"number\",\n            \"example\": 2.1\n          },\n          \"isRefuse\": {\n            \"type\": \"boolean\",\n            \"example\": true\n          },\n          \"minYearAcquired\": {\n            \"type\": \"integer\",\n            \"example\": 2011\n          },\n          \"percentWeight\": {\n            \"type\": \"number\",\n            \"example\": 0.5\n          }\n        }\n      },\n      \"FoodPortion\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 135806\n          },\n          \"amount\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 1\n          },\n          \"dataPoints\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 9\n          },\n          \"gramWeight\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 91\n          },\n          \"minYearAcquired\": {\n            \"type\": \"integer\",\n            \"example\": 2011\n          },\n          \"modifier\": {\n            \"type\": \"string\",\n            \"example\": \"10205\"\n          },\n          \"portionDescription\": {\n            \"type\": \"string\",\n            \"example\": \"1 cup\"\n          },\n          \"sequenceNumber\": {\n            \"type\": \"integer\",\n            \"example\": 1\n          },\n          \"measureUnit\": {\n            \"$ref\": \"#/components/schemas/MeasureUnit\"\n          }\n        }\n      },\n      \"InputFoodFoundation\": {\n        \"description\": \"applies to Foundation foods. Not all inputFoods will have all fields.\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"example\": 45551\n          },\n          \"foodDescription\": {\n            \"type\": \"string\",\n            \"example\": \"Beef, Tenderloin Roast, select, roasted, comp5, lean (34BLTR)\"\n          },\n          \"inputFood\": {\n            \"$ref\": \"#/components/schemas/SampleFoodItem\"\n          }\n        }\n      },\n      \"InputFoodSurvey\": {\n        \"description\": \"applies to Survey (FNDDS). Not all inputFoods will have all fields.\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"example\": 18146\n          },\n          \"amount\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 1.5\n          },\n          \"foodDescription\": {\n            \"type\": \"string\",\n            \"example\": \"Spices, curry powder\"\n          },\n          \"ingredientCode\": {\n            \"type\": \"integer\",\n            \"example\": 2015\n          },\n          \"ingredientDescription\": {\n            \"type\": \"string\",\n            \"example\": \"Spices, curry powder\"\n          },\n          \"ingredientWeight\": {\n            \"type\": \"number\",\n            \"format\": \"float\",\n            \"example\": 9.45\n          },\n          \"portionCode\": {\n            \"type\": \"string\",\n            \"example\": \"21000\"\n          },\n          \"portionDescription\": {\n            \"type\": \"string\",\n            \"example\": \"1 tablespoon\"\n          },\n          \"sequenceNumber\": {\n            \"type\": \"integer\",\n            \"example\": 6\n          },\n          \"surveyFlag\": {\n            \"type\": \"integer\",\n            \"example\": 0\n          },\n          \"unit\": {\n            \"type\": \"string\",\n            \"example\": \"TB\"\n          },\n          \"inputFood\": {\n            \"$ref\": \"#/components/schemas/SurveyFoodItem\"\n          },\n          \"retentionFactor\": {\n            \"$ref\": \"#/components/schemas/RetentionFactor\"\n          }\n        }\n      },\n      \"MeasureUnit\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"format\": \"int32\",\n            \"example\": 999\n          },\n          \"abbreviation\": {\n            \"type\": \"string\",\n            \"example\": \"undetermined\"\n          },\n          \"name\": {\n            \"type\": \"string\",\n            \"example\": \"undetermined\"\n          }\n        }\n      },\n      \"RetentionFactor\": {\n        \"properties\": {\n          \"id\": {\n            \"type\": \"integer\",\n            \"example\": 235\n          },\n          \"code\": {\n            \"type\": \"integer\",\n            \"example\": 3460\n          },\n          \"description\": {\n            \"type\": \"string\",\n            \"example\": \"VEG, ROOTS, ETC, SAUTEED\"\n          }\n        }\n      },\n      \"WweiaFoodCategory\": {\n        \"properties\": {\n          \"wweiaFoodCategoryCode\": {\n            \"type\": \"integer\",\n            \"example\": 3002\n          },\n          \"wweiaFoodCategoryDescription\": {\n            \"type\": \"string\",\n            \"example\": \"Meat mixed dishes\"\n          }\n        }\n      },\n      \"FoodsCriteria\": {\n        \"type\": \"object\",\n        \"description\": \"JSON for request body of 'foods' POST request. Retrieves a list of food items by a list of up to 20 FDC IDs. Optional format and nutrients can be specified. Invalid FDC ID's or ones that are not found are omitted and an empty set is returned if there are no matches.\",\n        \"properties\": {\n          \"fdcIds\": {\n            \"description\": \"List of multiple FDC ID's\",\n            \"type\": \"array\",\n            \"minItems\": 1,\n            \"maxItems\": 20,\n            \"items\": {\n              \"type\": \"integer\"\n            },\n            \"example\": [\n              534358,\n              373052,\n              616350\n            ]\n          },\n          \"format\": {\n            \"description\": \"Optional. 'abridged' for an abridged set of elements, 'full' for all elements (default).\",\n            \"type\": \"string\",\n            \"enum\": [\n              \"abridged\",\n              \"full\"\n            ]\n          },\n          \"nutrients\": {\n            \"description\": \"Optional. List of up to 25 nutrient numbers. Only the nutrient information for the specified nutrients will be returned.  If a food does not have any matching nutrients, the food will be returned with an empty foodNutrients element.\",\n            \"type\": \"array\",\n            \"minItems\": 1,\n            \"maxItems\": 25,\n            \"items\": {\n              \"type\": \"integer\"\n            },\n            \"example\": [\n              203,\n              204,\n              205\n            ]\n          }\n        }\n      },\n      \"FoodListCriteria\": {\n        \"type\": \"object\",\n        \"description\": \"JSON for request body of 'list' POST request\",\n        \"properties\": {\n          \"dataType\": {\n            \"description\": \"Optional. Filter on a specific data type; specify one or more values in an array.\",\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"Branded\",\n                \"Foundation\",\n                \"Survey (FNDDS)\",\n                \"SR Legacy\"\n              ]\n            },\n            \"minItems\": 1,\n            \"maxItems\": 4,\n            \"example\": [\n              \"Foundation\",\n              \"SR Legacy\"\n            ]\n          },\n          \"pageSize\": {\n            \"description\": \"Optional. Maximum number of results to return for the current page. Default is 50.\",\n            \"type\": \"integer\",\n            \"minimum\": 1,\n            \"maximum\": 200,\n            \"example\": 25\n          },\n          \"pageNumber\": {\n            \"description\": \"Optional. Page number to retrieve. The offset into the overall result set is expressed as (pageNumber * pageSize)\",\n            \"type\": \"integer\",\n            \"example\": 2\n          },\n          \"sortBy\": {\n            \"description\": \"Optional. Specify one of the possible values to sort by that field. Note, dataType.keyword will be dataType and lowercaseDescription.keyword will be description in future releases.\",\n            \"type\": \"string\",\n            \"enum\": [\n              \"dataType.keyword\",\n              \"lowercaseDescription.keyword\",\n              \"fdcId\",\n              \"publishedDate\"\n            ]\n          },\n          \"sortOrder\": {\n            \"description\": \"Optional. The sort direction for the results. Only applicable if sortBy is specified.\",\n            \"type\": \"string\",\n            \"enum\": [\n              \"asc\",\n              \"desc\"\n            ]\n          }\n        }\n      },\n      \"FoodSearchCriteria\": {\n        \"type\": \"object\",\n        \"description\": \"JSON for request body of 'search' POST request\",\n        \"properties\": {\n          \"query\": {\n            \"description\": \"Search terms to use in the search. The string may also include standard [search operators](https://fdc.nal.usda.gov/help.html#bkmk-2)\",\n            \"type\": \"string\",\n            \"example\": \"Cheddar cheese\"\n          },\n          \"dataType\": {\n            \"description\": \"Optional. Filter on a specific data type; specify one or more values in an array.\",\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"Branded\",\n                \"Foundation\",\n                \"Survey (FNDDS)\",\n                \"SR Legacy\"\n              ]\n            },\n            \"minItems\": 1,\n            \"maxItems\": 4,\n            \"example\": [\n              \"Foundation\",\n              \"SR Legacy\"\n            ]\n          },\n          \"pageSize\": {\n            \"description\": \"Optional. Maximum number of results to return for the current page. Default is 50.\",\n            \"type\": \"integer\",\n            \"minimum\": 1,\n            \"maximum\": 200,\n            \"example\": 25\n          },\n          \"pageNumber\": {\n            \"description\": \"Optional. Page number to retrieve. The offset into the overall result set is expressed as (pageNumber * pageSize)\",\n            \"type\": \"integer\",\n            \"example\": 2\n          },\n          \"sortBy\": {\n            \"description\": \"Optional. Specify one of the possible values to sort by that field. Note, dataType.keyword will be dataType and lowercaseDescription.keyword will be description in future releases.\",\n            \"type\": \"string\",\n            \"enum\": [\n              \"dataType.keyword\",\n              \"lowercaseDescription.keyword\",\n              \"fdcId\",\n              \"publishedDate\"\n            ]\n          },\n          \"sortOrder\": {\n            \"description\": \"Optional. The sort direction for the results. Only applicable if sortBy is specified.\",\n            \"type\": \"string\",\n            \"enum\": [\n              \"asc\",\n              \"desc\"\n            ]\n          },\n          \"brandOwner\": {\n            \"description\": \"Optional. Filter results based on the brand owner of the food. Only applies to Branded Foods.\",\n            \"type\": \"string\",\n            \"example\": \"Kar Nut Products Company\"\n          }\n        }\n      },\n      \"SearchResult\": {\n        \"properties\": {\n          \"foodSearchCriteria\": {\n            \"description\": \"A copy of the criteria that were used in the search.\",\n            \"type\": \"object\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/FoodSearchCriteria\"\n            }\n          },\n          \"totalHits\": {\n            \"description\": \"The total number of foods found matching the search criteria.\",\n            \"type\": \"integer\",\n            \"example\": 1034\n          },\n          \"currentPage\": {\n            \"description\": \"The current page of results being returned.\",\n            \"type\": \"integer\"\n          },\n          \"totalPages\": {\n            \"description\": \"The total number of pages found matching the search criteria.\",\n            \"type\": \"integer\"\n          },\n          \"foods\": {\n            \"description\": \"The list of foods found matching the search criteria. See Food Fields below.\",\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/SearchResultFood\"\n            }\n          }\n        }\n      },\n      \"SearchResultFood\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"fdcId\",\n          \"description\"\n        ],\n        \"properties\": {\n          \"fdcId\": {\n            \"description\": \"Unique ID of the food.\",\n            \"type\": \"integer\",\n            \"example\": 45001529\n          },\n          \"dataType\": {\n            \"description\": \"The type of the food data.\",\n            \"type\": \"string\",\n            \"example\": \"Branded\"\n          },\n          \"description\": {\n            \"description\": \"The description of the food.\",\n            \"type\": \"string\",\n            \"example\": \"BROCCOLI\"\n          },\n          \"foodCode\": {\n            \"description\": \"Any A unique ID identifying the food within FNDDS.\",\n            \"type\": \"string\"\n          },\n          \"foodNutrients\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"$ref\": \"#/components/schemas/AbridgedFoodNutrient\"\n            }\n          },\n          \"publicationDate\": {\n            \"description\": \"Date the item was published to FDC.\",\n            \"type\": \"string\",\n            \"example\": \"4/1/2019\"\n          },\n          \"scientificName\": {\n            \"description\": \"The scientific name of the food.\",\n            \"type\": \"string\"\n          },\n          \"brandOwner\": {\n            \"description\": \"Brand owner for the food. Only applies to Branded Foods.\",\n            \"type\": \"string\",\n            \"example\": \"Supervalu, Inc.\"\n          },\n          \"gtinUpc\": {\n            \"description\": \"GTIN or UPC code identifying the food. Only applies to Branded Foods.\",\n            \"type\": \"string\",\n            \"example\": \"041303020937\"\n          },\n          \"ingredients\": {\n            \"description\": \"The list of ingredients (as it appears on the product label). Only applies to Branded Foods.\",\n            \"type\": \"string\"\n          },\n          \"ndbNumber\": {\n            \"description\": \"Unique number assigned for foundation foods. Only applies to Foundation and SRLegacy Foods.\",\n            \"type\": \"string\"\n          },\n          \"additionalDescriptions\": {\n            \"description\": \"Any additional descriptions of the food.\",\n            \"type\": \"string\",\n            \"example\": \"Coon; sharp cheese; Tillamook; Hoop; Pioneer; New York; Wisconsin; Longhorn\"\n          },\n          \"allHighlightFields\": {\n            \"description\": \"allHighlightFields\",\n            \"type\": \"string\"\n          },\n          \"score\": {\n            \"description\": \"Relative score indicating how well the food matches the search criteria.\",\n            \"type\": \"number\",\n            \"format\": \"float\"\n          }\n        }\n      }\n    }\n  }\n}","output":"json","x":1220,"y":140,"wires":[["dc95ced4.bea02"]]},{"id":"1d5e1bc1.a91064","type":"json","z":"f1940d57.f0b49","name":"ToObject","property":"payload","action":"obj","pretty":true,"x":680,"y":240,"wires":[["a9459b41.0a20b8"]]},{"id":"7a878770.5a30f8","type":"http in","z":"f1940d57.f0b49","name":"","url":"/locationMap","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["b4ab1d82.34ecb"]]},{"id":"b4ab1d82.34ecb","type":"template","z":"f1940d57.f0b49","name":"Map Website","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n    <head>\n        <meta charset=\"utf-8\" />\n        <meta\n          name=\"viewport\"\n          content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"\n        />\n    \n        <!-- development version, includes helpful console warnings -->\n        <script src=\"https://cdn.jsdelivr.net/npm/vue/dist/vue.js\"></script>\n        <link\n          rel=\"stylesheet\"\n          href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\"\n          integrity=\"sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z\"\n          crossorigin=\"anonymous\"\n        />\n    \n        <link\n          rel=\"stylesheet\"\n          href=\"https://unpkg.com/gridjs/dist/theme/mermaid.min.css\"\n        />\n    \n        <script\n          src=\"https://code.jquery.com/jquery-3.5.1.slim.min.js\"\n          integrity=\"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj\"\n          crossorigin=\"anonymous\"\n        ></script>\n        <script\n          src=\"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js\"\n          integrity=\"sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN\"\n          crossorigin=\"anonymous\"\n        ></script>\n        <script\n          src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"\n          integrity=\"sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV\"\n          crossorigin=\"anonymous\"\n        ></script>\n    \n        <script src=\"https://unpkg.com/gridjs\"></script>\n        \n        <link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.css\"\n       integrity=\"sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==\"\n       crossorigin=\"\"/>\n        <!-- Make sure you put this AFTER Leaflet's CSS -->\n        <script src=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.js\"\n         integrity=\"sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==\"\n        crossorigin=\"\"></script>\n        \n        <style>\n            #mapid { height: 580px; }\n        </style>\n        \n    </head>\n    <body>\n        <div class=\"card\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Fuel Stations</h5>\n              <div id=\"mapid\"></div>\n            </div>\n          </div>\n        <script>\n            var mymap = L.map('mapid').setView([39.099728, -94.578568], 5);\n            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {\n                attribution: 'Map data &copy; <a href=\"https://www.openstreetmap.org/\">OpenStreetMap</a> contributors, <a href=\"https://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, Imagery  <a href=\"https://www.mapbox.com/\">Mapbox</a>',\n                maxZoom: 18,\n                id: 'mapbox/streets-v11',\n                tileSize: 512,\n                zoomOffset: -1,\n                accessToken: 'pk.eyJ1Ijoic2xhYnJhZG9yIiwiYSI6ImNrZnBtcnBzNDBicmwycnFqMDhlb3NnaWwifQ.elIyekOicZadmbUSyt7ddg'\n            }).addTo(mymap);\n            \n            fetch('https://ignite-samples.herokuapp.com/fuelLocations').then(response => {\n                \n                response = response.json()\n                \n                response.then(data => {\n                    let fuel_stations = data.fuel_stations\n                    fuel_stations.forEach(station => {\n                        let location = []\n                        location.push(station.latitude);\n                        location.push(station.longitude);\n                        var marker = L.marker(location).addTo(mymap);\n                        marker.bindPopup(`<b>${station.station_name}</b><br>${station.facility_type}<br>${station.street_address}`);\n                    });\n                }).catch(err => {console.log(err.message)})\n                \n            }).catch(err => {console.log(err.message)});\n            \n        </script>\n    </body>\n    \n</html>","output":"str","x":352,"y":180,"wires":[["3e1170d4.53f35"]]},{"id":"3e1170d4.53f35","type":"http response","z":"f1940d57.f0b49","name":"","statusCode":"","headers":{},"x":550,"y":180,"wires":[]},{"id":"55231f82.38c3d","type":"comment","z":"f1940d57.f0b49","name":"OPEN API SPEC","info":"","x":960,"y":100,"wires":[]},{"id":"3513443b.04da6c","type":"comment","z":"f1940d57.f0b49","name":"Fuel Locations API Service","info":"","x":130,"y":80,"wires":[]},{"id":"d4ccf447.d97618","type":"http request","z":"f1940d57.f0b49","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.nal.usda.gov/fdc/v1/foods/list?pageSize=200&api_key=KP4TtQCRUztbU7wLNqeeOLtadIVvTZWMjqdfKslb","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":620,"wires":[["d1a72c04.afc1c"]]},{"id":"d1a72c04.afc1c","type":"json","z":"f1940d57.f0b49","name":"","property":"payload","action":"obj","pretty":false,"x":480,"y":620,"wires":[["c18774a9.0f8058","ae6300b3.41c38"]]},{"id":"c18774a9.0f8058","type":"http response","z":"f1940d57.f0b49","name":"","statusCode":"","headers":{},"x":610,"y":620,"wires":[]},{"id":"83ecfd9f.5ade9","type":"http in","z":"f1940d57.f0b49","name":"","url":"/foods","method":"get","upload":false,"swaggerDoc":"","x":90,"y":620,"wires":[["d4ccf447.d97618"]]},{"id":"13a7b194.2f946e","type":"inject","z":"f1940d57.f0b49","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["d4ccf447.d97618"]]},{"id":"ae6300b3.41c38","type":"debug","z":"f1940d57.f0b49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":580,"wires":[]},{"id":"b73c6fa3.be4cf","type":"http in","z":"f1940d57.f0b49","name":"","url":"/dataGov/*","method":"get","upload":false,"swaggerDoc":"","x":100,"y":360,"wires":[["3a69804a.f452"]]},{"id":"3a69804a.f452","type":"odata in","z":"f1940d57.f0b49","name":"Data.gov","edm":"bcb5c120.f2cb","x":260,"y":360,"wires":[["5cbb0a19.57df54"]]},{"id":"d39e1cfe.4f84b","type":"odata out","z":"f1940d57.f0b49","name":"","x":1080,"y":360,"wires":[["c85d4e6e.2f4b3","af697359.4ed6b"]]},{"id":"c85d4e6e.2f4b3","type":"http response","z":"f1940d57.f0b49","name":"","statusCode":"","headers":{},"x":1250,"y":340,"wires":[]},{"id":"5f6a4e8c.2cd24","type":"http request","z":"f1940d57.f0b49","name":"getFuelStations","method":"GET","ret":"txt","paytoqs":false,"url":"https://developer.nrel.gov/api/alt-fuel-stations/v1.json?limit=200&api_key=KP4TtQCRUztbU7wLNqeeOLtadIVvTZWMjqdfKslb","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":340,"wires":[["b4d4633.31599a"]]},{"id":"af697359.4ed6b","type":"debug","z":"f1940d57.f0b49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":380,"wires":[]},{"id":"b4d4633.31599a","type":"json","z":"f1940d57.f0b49","name":"ToObject","property":"payload","action":"obj","pretty":true,"x":720,"y":360,"wires":[["d4532226.826e7","119dae20.1bf8e2"]]},{"id":"d4532226.826e7","type":"change","z":"f1940d57.f0b49","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.fuel_stations","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":360,"wires":[["d39e1cfe.4f84b"]]},{"id":"5652eb7.abd7014","type":"http request","z":"f1940d57.f0b49","name":"getFoods","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.nal.usda.gov/fdc/v1/foods/list?pageSize=200&api_key=KP4TtQCRUztbU7wLNqeeOLtadIVvTZWMjqdfKslb","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":380,"wires":[["b4d4633.31599a"]]},{"id":"5cbb0a19.57df54","type":"switch","z":"f1940d57.f0b49","name":"","property":"requested","propertyType":"msg","rules":[{"t":"eq","v":"FuelStations","vt":"str"},{"t":"eq","v":"Foods","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":360,"wires":[["5f6a4e8c.2cd24"],["5652eb7.abd7014"]]},{"id":"119dae20.1bf8e2","type":"debug","z":"f1940d57.f0b49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":420,"wires":[]}]