.flows.json.backup
[{"id":"93fc8052.7947d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6b613b.eca78f","type":"http in","z":"93fc8052.7947d","name":"","url":"/samples","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["a56b184.7b1c3e8"]]},{"id":"b71df4a5.f4aa28","type":"http response","z":"93fc8052.7947d","name":"","statusCode":"","headers":{},"x":470,"y":80,"wires":[]},{"id":"a56b184.7b1c3e8","type":"template","z":"93fc8052.7947d","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"data\":123456\n}","output":"json","x":300,"y":80,"wires":[["b71df4a5.f4aa28"]]}]