.flows.json.backup
[{"id":"f1940d57.f0b49","type":"tab","label":"Data.gov","disabled":false,"info":""},{"id":"e18e9c2d.e9e37","type":"tab","label":"Single Source OData EDM","disabled":false,"info":""},{"id":"3b4485eb.966d7a","type":"tab","label":"Send SMS","disabled":false,"info":""},{"id":"49fe2f27.1eb8e","type":"tab","label":"Bootstrap","disabled":false,"info":""},{"id":"7703b40b.fb4b5c","type":"tab","label":"SOAP Service","disabled":false,"info":""},{"id":"58be5d5b.045aa4","type":"tab","label":"Camillo Properties Demo","disabled":false,"info":"This flow gets data from a SOAP API, extracts data, transform it and saves it to postgres database using sequelize node."},{"id":"cf64a1bf.d0264","type":"database","z":"","name":"ProductsDBConfig","host":"","port":"","database":"","dialect":"postgres","ssl":true},{"id":"66cf9032.8e099","type":"entity","z":"","name":"products","rules":[{"t":"Edm.Int32","v":"id"},{"t":"Edm.String","v":"name"}],"key":"id"},{"id":"bcb5c120.f2cb","type":"edm","z":"","namespace":"ignite","schema":"public","entities":"","model1":"66cf9032.8e099","model2":"_ADD_","model3":"_ADD_","model4":"_ADD_","model5":"_ADD_","model6":"_ADD_","model7":"_ADD_","model8":"_ADD_","model9":"_ADD_","model10":"_ADD_","model11":"_ADD_","model12":"_ADD_","model13":"_ADD_","model14":"_ADD_","model15":"_ADD_","model16":"_ADD_","model17":"_ADD_","model18":"_ADD_","model19":"_ADD_","model20":"_ADD_"},{"id":"9b72dd4b.833f2","type":"edm","z":"","namespace":"ignite","schema":"public","entities":"","model1":"2462a64a.0ea6da","model2":"_ADD_","model3":"_ADD_","model4":"_ADD_","model5":"_ADD_","model6":"_ADD_","model7":"_ADD_","model8":"_ADD_","model9":"_ADD_","model10":"_ADD_","model11":"_ADD_","model12":"_ADD_","model13":"_ADD_","model14":"_ADD_","model15":"_ADD_","model16":"_ADD_","model17":"_ADD_","model18":"_ADD_","model19":"_ADD_","model20":"_ADD_"},{"id":"16de6df6.4806e2","type":"database","z":"","name":"ProductsDBConfig","host":"","port":"","database":"","dialect":"postgres","ssl":true},{"id":"293cb1f.7be714e","type":"entity","z":"","name":"products","rules":[{"t":"Edm.Int32","v":"id"},{"t":"Edm.String","v":"name"}],"key":"id"},{"id":"850be923.077fe8","type":"basic-config","z":"","name":"","username":"cgDemo$2020"},{"id":"42df9750.74e4d8","type":"database","z":"","name":"ignite-samples database","host":"127.0.0.1","port":"5432","database":"postgres","dialect":"postgres","ssl":false},{"id":"9d837e8d.7bfa5","type":"entity","z":"","name":"temp_users","rules":[{"t":"Edm.Int32","v":"id"},{"t":"Edm.String","v":"name"}],"key":"id"},{"id":"409ce8b9.9a8d28","type":"edm","z":"","namespace":"ignitesamples","schema":"","entities":"","model1":"9d837e8d.7bfa5","model2":"_ADD_","model3":"_ADD_","model4":"_ADD_","model5":"_ADD_","model6":"_ADD_","model7":"_ADD_","model8":"_ADD_","model9":"_ADD_","model10":"_ADD_","model11":"_ADD_","model12":"_ADD_","model13":"_ADD_","model14":"_ADD_","model15":"_ADD_","model16":"_ADD_","model17":"_ADD_","model18":"_ADD_","model19":"_ADD_","model20":"_ADD_"},{"id":"837a900a.42692","type":"http request","z":"3b4485eb.966d7a","name":"Send SMS","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.twilio.com/2010-04-01/Accounts/AC2344ea9a7afe2817ab79ad6252973c46/Messages.json","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":160,"wires":[["61ef10cf.dae6e"]]},{"id":"61ef10cf.dae6e","type":"debug","z":"3b4485eb.966d7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":160,"wires":[]},{"id":"3935adb8.078292","type":"comment","z":"3b4485eb.966d7a","name":"https://api.twilio.com/2010-04-01/...","info":"curl -X POST https://api.twilio.com/2010-04-01/Accounts/AC2344ea9a7afe2817ab79ad6252973c46/Messages.json \\\n--data-urlencode \"From=+15017122661\" \\\n--data-urlencode \"Body=body\" \\\n--data-urlencode \"To=+15558675310\" \\\n-u AC2344ea9a7afe2817ab79ad6252973c46:your_auth_token","x":280,"y":240,"wires":[]},{"id":"eb554ad.d0d60b8","type":"inject","z":"3b4485eb.966d7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["d343a7c9.b34678"]]},{"id":"d343a7c9.b34678","type":"function","z":"3b4485eb.966d7a","name":"SMS Message","func":"msg.headers = {}\nmsg.headers['content-type'] = \"application/x-www-form-urlencoded\"\nmsg.payload = {From: '+17278886393', To:'+14698379800', Body:'Hi Sebastian, thanks for signing up! https://cgignite.com'}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["837a900a.42692"]]},{"id":"7fdb0344.db62cc","type":"http in","z":"49fe2f27.1eb8e","name":"","url":"/web","method":"get","upload":false,"swaggerDoc":"","x":300,"y":180,"wires":[["c21bbedd.447c4"]]},{"id":"c21bbedd.447c4","type":"template","z":"49fe2f27.1eb8e","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>My first Vue app</title>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\" />\n    <meta\n      name=\"viewport\"\n      content=\"width=device-width, initial-scale=1, shrink-to-fit=no\"\n    />\n\n    <!-- development version, includes helpful console warnings -->\n    <script src=\"https://cdn.jsdelivr.net/npm/vue/dist/vue.js\"></script>\n    <link\n      rel=\"stylesheet\"\n      href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\"\n      integrity=\"sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z\"\n      crossorigin=\"anonymous\"\n    />\n\n    <link\n      rel=\"stylesheet\"\n      href=\"https://unpkg.com/gridjs/dist/theme/mermaid.min.css\"\n    />\n\n    <script\n      src=\"https://code.jquery.com/jquery-3.5.1.slim.min.js\"\n      integrity=\"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj\"\n      crossorigin=\"anonymous\"\n    ></script>\n    <script\n      src=\"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js\"\n      integrity=\"sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN\"\n      crossorigin=\"anonymous\"\n    ></script>\n    <script\n      src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js\"\n      integrity=\"sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV\"\n      crossorigin=\"anonymous\"\n    ></script>\n\n    <script src=\"https://unpkg.com/gridjs\"></script>\n  </head>\n  <body>\n      \n    <div id=\"app\" class=\"container\">\n      <h1>{{ message }}</h1>\n        <div class=\"card-columns\">\n          <div class=\"card\">\n            <img src=\"...\" class=\"card-img-top\" alt=\"...\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title that wraps to a new line</h5>\n              <p class=\"card-text\">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>\n            </div>\n          </div>\n          <div class=\"card p-3\">\n            <blockquote class=\"blockquote mb-0 card-body\">\n              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>\n              <footer class=\"blockquote-footer\">\n                <small class=\"text-muted\">\n                  Someone famous in <cite title=\"Source Title\">Source Title</cite>\n                </small>\n              </footer>\n            </blockquote>\n          </div>\n          <div class=\"card\">\n            <img src=\"...\" class=\"card-img-top\" alt=\"...\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title</h5>\n              <p class=\"card-text\">This card has supporting text below as a natural lead-in to additional content.</p>\n              <p class=\"card-text\"><small class=\"text-muted\">Last updated 3 mins ago</small></p>\n            </div>\n          </div>\n          <div class=\"card bg-primary text-white text-center p-3\">\n            <blockquote class=\"blockquote mb-0\">\n              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>\n              <footer class=\"blockquote-footer text-white\">\n                <small>\n                  Someone famous in <cite title=\"Source Title\">Source Title</cite>\n                </small>\n              </footer>\n            </blockquote>\n          </div>\n          <div class=\"card text-center\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title</h5>\n              <p class=\"card-text\">This card has a regular title and short paragraphy of text below it.</p>\n              <p class=\"card-text\"><small class=\"text-muted\">Last updated 3 mins ago</small></p>\n            </div>\n          </div>\n          <div class=\"card\">\n            <img src=\"...\" class=\"card-img-top\" alt=\"...\">\n          </div>\n          <div class=\"card p-3 text-right\">\n            <blockquote class=\"blockquote mb-0\">\n              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>\n              <footer class=\"blockquote-footer\">\n                <small class=\"text-muted\">\n                  Someone famous in <cite title=\"Source Title\">Source Title</cite>\n                </small>\n              </footer>\n            </blockquote>\n          </div>\n          <div class=\"card\">\n            <div class=\"card-body\">\n              <h5 class=\"card-title\">Card title</h5>\n              <p class=\"card-text\">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>\n              <p class=\"card-text\"><small class=\"text-muted\">Last updated 3 mins ago</small></p>\n            </div>\n          </div>\n        </div>\n      \n    </div>\n\n    <script>\n      var app = new Vue({\n        el: \"#app\",\n        data: {\n          message: \"Hello Vue & Bootstrap!\"\n        }\n      });\n    </script>\n\n  </body>\n</html>\n","output":"str","x":490,"y":180,"wires":[["c03b501d.53735"]]},{"id":"b77c5415.c1f258","type":"template","z":"49fe2f27.1eb8e","name":"JSON","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[{\n    \"First\":\"Sebastian\",\n    \"Last\":\"Labrador\",\n    \"Handle\":\"@slabrador\"\n}]","output":"json","x":490,"y":260,"wires":[["c03b501d.53735"]]},{"id":"79ceb419.d8f9dc","type":"http in","z":"49fe2f27.1eb8e","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":300,"y":260,"wires":[["b77c5415.c1f258"]]},{"id":"c03b501d.53735","type":"http response","z":"49fe2f27.1eb8e","name":"","statusCode":"","headers":{},"x":708,"y":181,"wires":[]},{"id":"819ed271.5536a","type":"odata in","z":"e18e9c2d.e9e37","name":"Products","edm":"9b72dd4b.833f2","x":340,"y":120,"wires":[["bf2fd8fe.effc68"]]},{"id":"bf2fd8fe.effc68","type":"sequelize","z":"e18e9c2d.e9e37","name":"ProductsDb","usepayload":true,"query":"","database":"16de6df6.4806e2","output":true,"outputs":1,"x":550,"y":120,"wires":[["36d9b191.b86f9e"]]},{"id":"8cfbeef0.e0e69","type":"http in","z":"e18e9c2d.e9e37","name":"","url":"/odata/*","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["819ed271.5536a"]]},{"id":"72558483.9100fc","type":"http response","z":"e18e9c2d.e9e37","name":"","statusCode":"","headers":{},"x":950,"y":120,"wires":[]},{"id":"36d9b191.b86f9e","type":"odata out","z":"e18e9c2d.e9e37","name":"","x":760,"y":120,"wires":[["72558483.9100fc","deab893.bf74d78"]]},{"id":"deab893.bf74d78","type":"debug","z":"e18e9c2d.e9e37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":220,"wires":[]},{"id":"55696edd.5f8b1","type":"comment","z":"e18e9c2d.e9e37","name":"Salesforce calls Ignite","info":"","x":120,"y":80,"wires":[]},{"id":"248504f8.e978bc","type":"comment","z":"e18e9c2d.e9e37","name":"Products EDM","info":"","x":340,"y":80,"wires":[]},{"id":"76ca000e.d5dba","type":"comment","z":"e18e9c2d.e9e37","name":"Query the database","info":"","x":550,"y":80,"wires":[]},{"id":"23a9f2e4.aa145e","type":"comment","z":"e18e9c2d.e9e37","name":"Format the response","info":"","x":770,"y":80,"wires":[]},{"id":"3cdfbed4.3bed42","type":"comment","z":"e18e9c2d.e9e37","name":"Send data back to Salesforce","info":"","x":1000,"y":80,"wires":[]},{"id":"70502cde.dc8e84","type":"comment","z":"e18e9c2d.e9e37","name":"Debugging","info":"","x":940,"y":180,"wires":[]},{"id":"9bd82daf.135bc","type":"http request","z":"7703b40b.fb4b5c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":300,"wires":[["ede419aa.fdfb58"]]},{"id":"6cdde30f.3e514c","type":"template","z":"7703b40b.fb4b5c","name":"XML Payload","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ser=\"http://service.web.propertyware.realpage.com\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">\n    <soapenv:Header/> \n    <soapenv:Body>\n            <ser:getAllPortfolios soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n    </soapenv:Body>\n</soapenv:Envelope>","output":"str","x":290,"y":240,"wires":[["544c0947.3f2ce8"]]},{"id":"544c0947.3f2ce8","type":"function","z":"7703b40b.fb4b5c","name":"Set Headers","func":"msg.headers = {}\nmsg.headers[\"Content-Type\"] = \"application/xml\",\nmsg.headers[\"SOAPAction\"] = \"%5B%5Cr%5D%5B%5Cn%5D\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["9bd82daf.135bc"]]},{"id":"ede419aa.fdfb58","type":"xml","z":"7703b40b.fb4b5c","name":"XMLtoObject","property":"payload","attr":"","chr":"","x":530,"y":360,"wires":[["b186b7f4.94a878"]]},{"id":"a6419c40.2d5ed","type":"debug","z":"7703b40b.fb4b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":480,"wires":[]},{"id":"b186b7f4.94a878","type":"change","z":"7703b40b.fb4b5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"ns1:getAllPortfoliosResponse\"][0].getAllPortfoliosReturn[0].getAllPortfoliosReturn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["a6419c40.2d5ed","694e39db.c829d8"]]},{"id":"35507045.f9501","type":"http in","z":"7703b40b.fb4b5c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["4d622e23.ab312"]]},{"id":"694e39db.c829d8","type":"http response","z":"7703b40b.fb4b5c","name":"","statusCode":"","headers":{},"x":870,"y":420,"wires":[]},{"id":"4d622e23.ab312","type":"basic","z":"7703b40b.fb4b5c","name":"","basicconfig":"850be923.077fe8","outputs":2,"x":270,"y":140,"wires":[["6cdde30f.3e514c"],["9b5bdf5e.2d662"]]},{"id":"78dd8aba.6a40f4","type":"comment","z":"7703b40b.fb4b5c","name":"cgDemo$2020:cgDemo$2020Psw","info":"http://api.propertyware.com/pw/services/PWServices","x":340,"y":80,"wires":[]},{"id":"9b5bdf5e.2d662","type":"http response","z":"7703b40b.fb4b5c","name":"","statusCode":"403","headers":{},"x":480,"y":140,"wires":[]},{"id":"a6db1d4.ccbdee","type":"inject","z":"7703b40b.fb4b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["1fb0e11d.eddd2f"]]},{"id":"1fb0e11d.eddd2f","type":"http request","z":"7703b40b.fb4b5c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://cgDemo$2020:cgDemo$2020Psw@ignite-samples.herokuapp.com/data","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":480,"wires":[["a6419c40.2d5ed"]]},{"id":"88e09d3a.f2ad9","type":"comment","z":"7703b40b.fb4b5c","name":"INTEGRATION TEST","info":"","x":130,"y":420,"wires":[]},{"id":"213fbbab.cc7e34","type":"http request","z":"58be5d5b.045aa4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.propertyware.com/pw/services/PWServices","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":120,"wires":[["720ff159.71fb1"]]},{"id":"978211e9.2c97d","type":"inject","z":"58be5d5b.045aa4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"10","x":140,"y":120,"wires":[["16b6af41.000641"]]},{"id":"16b6af41.000641","type":"template","z":"58be5d5b.045aa4","name":"XML Payload","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<soapenv:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ser=\"http://service.web.propertyware.realpage.com\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">\n    <soapenv:Header/> \n    <soapenv:Body>\n            <ser:getAllPortfolios soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"/>\n    </soapenv:Body>\n</soapenv:Envelope>","output":"str","x":310,"y":120,"wires":[["c8cb3494.36ca08"]]},{"id":"c8cb3494.36ca08","type":"function","z":"58be5d5b.045aa4","name":"Set Headers","func":"msg.headers = {}\nmsg.headers[\"Content-Type\"] = \"application/xml\",\nmsg.headers[\"SOAPAction\"] = \"%5B%5Cr%5D%5B%5Cn%5D\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["213fbbab.cc7e34"]]},{"id":"720ff159.71fb1","type":"xml","z":"58be5d5b.045aa4","name":"XMLtoObject","property":"payload","attr":"","chr":"","x":190,"y":220,"wires":[["43305ddf.c74be4"]]},{"id":"debac4c9.1dfe28","type":"debug","z":"58be5d5b.045aa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":380,"wires":[]},{"id":"43305ddf.c74be4","type":"function","z":"58be5d5b.045aa4","name":"Transformation","func":"response = msg.payload[\"soapenv:Envelope\"][\"soapenv:Body\"][0][\"ns1:getAllPortfoliosResponse\"][0].getAllPortfoliosReturn[0].getAllPortfoliosReturn\n\nmsg.payload  = [];\n\nfor (var i in response){\n    portfolio = {\n    id : response[i].ID[0]._,\n    name : response[i].name[0]._,\n    abbreviation : response[i].abbreviation[0]._,\n    defaultBankAccount : response[i].defaultBankAccount[0].accountNumber[0]._,\n    defaultSecurityDepositBankAccount : response[i].defaultSecurityDepositBankAccount[0].accountNumber[0]._,\n    ownerId : response[i].owners[0].owners[0].ID[0]._,\n    active : response[i].active[0]._\n    }\n    msg.payload.push(portfolio)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["c4e60eb3.14ccd"]]},{"id":"c4e60eb3.14ccd","type":"split","z":"58be5d5b.045aa4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":380,"wires":[["e3dd4a8a.7fbbe8"]]},{"id":"620adbcc.578c14","type":"sequelize","z":"58be5d5b.045aa4","name":"Ignite-samples database","usepayload":true,"query":"","database":"42df9750.74e4d8","output":true,"outputs":1,"x":490,"y":380,"wires":[["debac4c9.1dfe28"]]},{"id":"e3dd4a8a.7fbbe8","type":"function","z":"58be5d5b.045aa4","name":"","func":"msg.payload = `INSERT INTO public.camillo_portfolios\n(id, \"name\", abbreviation, defaultbankaccount, defaultsecuritydepositbankaccount, ownerid, active)\nVALUES('${msg.payload.id}', '${msg.payload.name}', '${msg.payload.abbreviation}',\n'${msg.payload.defaultBankAccount}', '${msg.payload.defaultSecurityDepositBankAccount}',\n'${msg.payload.ownerId}', ${msg.payload.active});`\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["620adbcc.578c14"]]},{"id":"50dfddf7.8e5264","type":"comment","z":"58be5d5b.045aa4","name":"DDL Scripts for Database","info":"CREATE TABLE public.camillo_portfolios (\n\tid varchar(15) primary KEY NOT NULL,\n\tname varchar(200) NULL,\n\tabbreviation varchar(200) NULL,\n\tdefaultBankAccount varchar(200) NULL,\n\tdefaultSecurityDepositBankAccount varchar(200) NULL,\n\townerId varchar(15) NULL,\n\tactive Boolean NULL\n);\n\nselect * from camillo_portfolios cp ","x":150,"y":540,"wires":[]},{"id":"f48f2af0.654308","type":"comment","z":"58be5d5b.045aa4","name":"Initiating request","info":"","x":140,"y":80,"wires":[]},{"id":"7cc36b20.3ed634","type":"comment","z":"58be5d5b.045aa4","name":"SOAP API request settings","info":"","x":410,"y":80,"wires":[]},{"id":"eee038cd.6999f8","type":"comment","z":"58be5d5b.045aa4","name":"request to soap API","info":"","x":670,"y":80,"wires":[]},{"id":"9e6dd218.ff23f","type":"comment","z":"58be5d5b.045aa4","name":"Converting data from XML to JS object for manipulation","info":"","x":240,"y":260,"wires":[]},{"id":"6046f022.35fe3","type":"comment","z":"58be5d5b.045aa4","name":"Data Transformation for database compatibility","info":"","x":610,"y":200,"wires":[]},{"id":"ca436469.062f48","type":"comment","z":"58be5d5b.045aa4","name":"Generating Query for each portfolio","info":"","x":200,"y":420,"wires":[]},{"id":"927b2871.6b56e8","type":"comment","z":"58be5d5b.045aa4","name":"Executing queries using sequelize","info":"","x":500,"y":340,"wires":[]},{"id":"f5cedd5b.f7ac1","type":"comment","z":"58be5d5b.045aa4","name":"logging output on completion","info":"logging output","x":720,"y":420,"wires":[]},{"id":"7d16fa35.c962f4","type":"comment","z":"58be5d5b.045aa4","name":"Databse connection string","info":"postgres://rgdwsbkizmqcwg:181aba38c7807ff12dd5e5a26bec6882bb0307eddb592c2dd20dc8a277ed21e4@ec2-52-202-66-191.compute-1.amazonaws.com:5432/d7lvpdmutrnt0p","x":150,"y":580,"wires":[]},{"id":"4ddb9d86.8d3434","type":"comment","z":"f1940d57.f0b49","name":"KP4TtQCRUztbU7wLNqeeOLtadIVvTZWMjqdfKslb","info":"","x":270,"y":80,"wires":[]},{"id":"fc792637.1b97f8","type":"inject","z":"f1940d57.f0b49","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["71e12197.cc43d"]]},{"id":"69f4d125.a94b2","type":"debug","z":"f1940d57.f0b49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":380,"wires":[]},{"id":"d38abfc1.f1b8a","type":"catch","z":"f1940d57.f0b49","name":"","scope":null,"uncaught":false,"x":400,"y":420,"wires":[["69f4d125.a94b2"]]},{"id":"71e12197.cc43d","type":"http request","z":"f1940d57.f0b49","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://developer.nrel.gov/api/alt-fuel-stations/v1.json?limit=50&api_key=KP4TtQCRUztbU7wLNqeeOLtadIVvTZWMjqdfKslb","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["69f4d125.a94b2","a9459b41.0a20b8"]]},{"id":"6f69c67c.8593c8","type":"http in","z":"f1940d57.f0b49","name":"","url":"/foodData","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["71e12197.cc43d"]]},{"id":"a9459b41.0a20b8","type":"http response","z":"f1940d57.f0b49","name":"","statusCode":"","headers":{},"x":710,"y":300,"wires":[]}]